/* CSS Reset */
body, h1, p{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: url('./images/bg-desktop.svg') no-repeat;
  background-color: hsl(257, 40%, 49%);
  font-family: open sans;
}

.container-text p {
  font-family: open sans;
  line-height: 1.5;
}

.container-text h1, p {
  color: white;
  margin-bottom: 20px;
}

.container-text a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 60px;
  background: white;
  color: hsl(257, 40%, 49%);
  border-radius: 30px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  margin-top: 40px;
  margin-bottom: 84px;
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.container-text {
  margin-top: 50px;
}

.container img {
  max-width: 100%;
  display: block;
}